In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Activity 2-2:
-------------

Single table queries

Exercise #1
-----------

Try writing a query to get an output table of all the products with "Touch" in the name, showing just their name and price, and sorted alphabetically by manufacturer.

Let's look at the products first:

In [3]:
%sql select * from product;

 * sqlite://
Done.

[(u'Gizmo', 19.99, u'Gadgets', u'GizmoWorks'),
 (u'PowerGizmo', 29.99, u'Gadgets', u'GizmoWorks'),
 (u'MultiTouch', 203.99, u'Household', u'Hitachi'),
 (u'SingleTouch', 149.99, u'Photography', u'Canon')]

Write your query here:

In [4]:
%%sql
SELECT pname, price FROM product
WHERE pname LIKE '%Touch%'
ORDER BY manufacturer;

 * sqlite://
Done.

[(u'SingleTouch', 149.99), (u'MultiTouch', 203.99)]

Next, write a query that returns the _distinct_ names of manufacturers that make products with "Gizmo" in the name:

In [5]:
%%sql
SELECT DISTINCT manufacturer FROM product
WHERE pname LIKE '%Gizmo%';

 * sqlite://
Done.

[(u'GizmoWorks',)]

Exercise #2:
------------

_More on ORDER BY_

Try some of these queries but first guess what they return.

In [6]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

 * sqlite://
Done.

[(u'Gadgets',), (u'Household',), (u'Photography',)]

In [7]:
%sql SELECT category FROM product ORDER BY pname;

 * sqlite://
Done.

[(u'Gadgets',), (u'Household',), (u'Gadgets',), (u'Photography',)]

In [8]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;

 * sqlite://
Done.

[(u'Gadgets',), (u'Household',), (u'Photography',)]